.tabela, .tabela td, .tabela th {
    border: 1px solid;
    padding: 10px;
    background-color: #ffffff;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;   
}

.editar {
    cursor: pointer;
}

.deletar {
    cursor: pointer;
}

.linkCadastro {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #253342;
    padding: 6px;
    border-radius: 20px;
    width: 240px;
    margin: 40px auto;
}

.btnCadastrar {
    display: flex;
}

.loading {
    color: white;
    font-weight: bold;
}